<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      text-align: center;
    }

    p {
      margin-top: 1rem;
    }

    span {
      display: block;
      margin-top: 1rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Olá {{ name }}, Você solicitou a alteração da sua senha!</h1>

    <p>Para realizar a troca, clique no link
        <a href={{link}}>{{link}}</a>
    </p>

    <span>Caso não tenha sido você quem solicitou a alteração da senha, basta ignorar este e-mail.</span>

    <strong>Obrigado!</strong>        
  </div>
</body>
</html>