<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      text-align: center;
    }

    p {
      margin-top: 1rem;
    }

    span {
      display: block;
      margin-top: 1rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Olá {{ name }}, você é o mais novo contrado da nossa empresa!</h1>

    <p>para acessar a sua conta na nossa plataforma digite o seu email e a seguinte senha:</p>

    <span>{{ password }}</span>
  </div>
</body>
</html>