<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      text-align: center;
    }

    p {
      margin-top: 1rem;
    }

    span {
      display: block;
      margin-top: 1rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Olá {{ name }}, acabamos de gerar a nota fiscal da sua compra.</h1>

    <p>Você pode visualizá-la clicando ou baixando o anexo em pdf abaixo.</p>

    <p>Agadecemos pela preferência. Volte sempre!</p>
  </div>
</body>
</html>